<div class="footer">
<span><a href="#">纸上烤鱼</a></span> | <span><a href="#">种子搜索</a></span> | <span><a href="#">磁力链接</a></span>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='ZeroClipboard.min.js')}}"></script>
<script type="text/javascript">
// 将【复制链接】按钮充当复制数据的元素载体
var clip = new ZeroClipboard( document.getElementById("copy1") );
var clip2 = new ZeroClipboard( document.getElementById("copy2") );
</script>
     
<script charset="gbk" type="text/javascript" src="//www.baidu.com/js/opensug.js"></script>
<script type="text/javascript">
        var params = { "XOffset": 0, "YOffset": 0, "fontColor": "#444", "fontColorHI": "#000", "fontSize": "16px", "fontFamily": "arial", "borderColor": "gray", "bgcolorHI": "#ebebeb", "sugSubmit": false };
        BaiduSuggestion.bind("search", params);
    </script>
</body>
</html>